body,html {
    height: 100%;
}

.container-fluid{
    padding-top: 45px;
}

.movie-poster {
  float: left;
  width: 150px;
  margin-right: 10px;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.span-outer {
  font-size: 20px;
}

.outer-p {
  margin-top: 10px;
}

.inner-p {
  margin: 2px;
}

.outer-p-2 {
  margin-top: 5px;
}

.outer-p-3 {
  margin-top: 15px;
}

.container-fluid {
    height: 100%;
    /*overflow-y: hidden;*/
}

.row-wrapper {
    min-height: 100%;
    height: 100%;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.column-wrapper {
    min-height: 100%;
    height: 100%;
    overflow-y: hidden;
}

.main-content-wrapper {
    height: 85%;
    min-height: 85%;
    overflow-y: auto;

}

.vote-div {
    min-height: 100%;
    height: 100%;
}

.vote-area {
    min-height: 85%;
    height: 85%;
    overflow: scroll;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

@-webkit-keyframes flash {
    0% {
        background-color: none;
    }
    50% {
        background-color: #75D08D;
    }
    100% {
        background-color: none;
    }
}

@-moz-keyframes flash {
    0% {
        background-color: none;
    }
    50% {
        background-color: #75D08D;
    }
    100% {
        background-color: none;
    }
}

@-ms-keyframes flash {
    0% {
        background-color: none;
    }
    50% {
        background-color: #75D08D;
    }
    100% {
        background-color: none;
    }
}

.vote-text {
    word-wrap: break-word;
}

.starter-template {
  /*padding: 40px 15px;*/
  text-align: center;
}
